
<form>
    firstName : <input required type="text" name="firstName" minlength="3" pattern="[a-zA-Z]*" [(ngModel)]="user.firstName" #firstname="ngModel">
<br>
<div *ngIf="firstname.touched  && firstname.invalid"> obligatoire firstname
<div *ngIf="firstname.errors['required']">
    firstname Obligatoire
</div>
<div *ngIf="firstname.errors['minlength']">
firstname contient au minimum 3 caractere 
</div>
<div *ngIf="firstname.errors['pattern']">
    firstname ne contient pas des lettres 
    </div>
</div>

lastName :<input required type="text" name="lastname" minlength="3" pattern="[a-zA-Z]*"  [(ngModel)]="user.lastName" #lastname="ngModel">
<br>
birthDate : <input required type="date" name="birthdate"  [(ngModel)]="user.birthDate" #birthdate="ngModel">
<br>
email :<input  type="email" name="email" pattern="^[a-zA-Z0-9._/+@gmail.com"  [(ngModel)]="user.email" #email="ngModel">
<br>
password : <input required type="password" name="password"  [(ngModel)]="user.password" #password="ngModel">
<br>
accountCategory : <input required type="text" pattern="Customer" name="category"  [(ngModel)]="user.accountCategory" #accountCategory="ngModel">
<br>
profession : <input required type="text" name="profession"  [(ngModel)]="user.profession" #profession="ngModel">

</form>


valid : {{firstname.valid}}
<br>
dirty:  {{firstname.dirty}}
<br>
touched:{{firstname.touched}}
<br>
pristine:{{firstname.pristine}}
<br>
untouched:{{firstname.untouched}}
<br>
invalid:{{firstname.invalid}}
<br>
pending:{{firstname.pending}}
<br>
value:{{firstname.value}}
<br>
errors:{{firstname.errors | json}}
<br>
control:{{firstname.control?.status}}
<br>
formControlName:{{firstname}}
<br>
